#part1 {
    background: url("India-Gate.jpg") no-repeat fixed;
    background-size: cover;
    background-position: center;
    color: white;
    height: 100vh;
    width: 100%;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    background-color: #f2f2f2;
}

.navbar-toggler {
    background-color: #ADD8E6;
}

#mainavbar.scrolled {
    background-color: #ADD8E6 !important;
    transition: background-color 200ms linear;
    display: flex;
}

.nav-link {
    background-color: #000000;
    position: relative;
}

.nav-item .nav-link:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: cyan;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}

a.nav-link:hover:before {
    visibility: visible;
    transform: scaleX(1);
}


#h1 {
    margin-top: 30vh;
    text-align: center;
    color: white;
}

#part2 {
    font-family: "Times New Roman", Times, serif;
    background-color: snow;
    padding: 4rem 1rem;
    height: stretch;
    margin: 100px 0px;
    text-align: center;
}

#first {
    text-align: center;
}



/*-----------ourTeam----------------*/

.ourTeam {
    margin: 100px 0px;
    text-align: center;
}

hr {
    width: 200px;
    line-height: 20px;
}

.profile {
    margin: 20px 0px;
    width: 100%;
    text-align: center;
}

.profile img {
    width: 80%;
    margin: 10%;
    border-radius: 50%;
    border: 2px solid grey;
}

.events {
    margin: 100px 0px;
    text-align: center;
}

.imgPresent {
    margin: 0 auto;
}

.connect {
    margin: 100px 0px;
    text-align: center;
    margin-bottom: 5%;
}

.icons {
    font-size: 300%;
    margin-right: 2%;
    cursor: pointer;
    border-radius: 100%;
}

.gmail:hover {
    color: #D44638;
}

.insta:hover {
    color: #C13584;
}

.linkedin:hover {
    color: #2867B2;
}

.twitter:hover {
    color: #1DA1F2;
}

.icon-container {
    text-align: center;
}

@media (max-width:756px) {
    .profile {
        margin: 20px 0px;
    }

    .profile h2 {
        font-size: 20px;
    }

    .profile h4 {
        font-size: 16px;
    }
}
